#wpadminbar {
  min-width: 32px;
  width: 32px;
  left: initial;
  right: 0;
  overflow: hidden;
  transition-duration: 0.7s;
  border-radius: 50px 0px 0px 50px;
  cursor: pointer;
  @media screen and (max-width:767px) {
    display: none;
  }
}
#wpadminbar:hover {
  width: 100%;
  overflow: initial;
  height: 45px;
  padding-top: 7px;
  border-radius: 0px;
  cursor: initial;
}

#config-data {
  color: $color1;
  border: 2px solid $color1;
  border-right: 0;
  background-color: #FFF;
  position: fixed;
  border-radius: 50px 0px 0px 50px;
  right: 0;
  top: 60px;
  min-width: 32px;
  width: 32px;
  height: 36px;
  overflow: hidden;
  transition-duration: 0.4s;
  padding: 4px 0px;
  padding-left: 8px;
  font-family: 'Cutive Mono', monospace;
  p {
    margin-bottom: 1em;
    font-family: 'Cutive Mono', monospace;
    color: #333333;
  }
  .indent {
    text-indent: -1em;
    padding-left: 2em;
  }
}
#config-data:hover {
  width: auto;
  max-width: 480px;
  overflow: initial;
  height: auto;
  padding: 16px;
  border-radius: 0px;
  cursor: initial;
  .config-mark { display: none; }
  p {
    font-size: 12px;
    span {
      color: #757575;
    }
  }
}
