header {
  background-color: #204051;
  color: #fff;
}
.main-visual {
  background-color: #84a9ac;
}
p.logo {
  text-align: center;
}
video.prefix_sample1 {
  width: 851px;
  height: 478px;
  -webkit-mask-image: url('../images/logo.png');
  -webkit-mask-mode: auto;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
footer {
  background-color: #204051;
  color: #FFF;
}
