@charset "UTF-8";
/* Admin Menu */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #343a40;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #72DEFF;
  background: #1d2124;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #007ea5;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #007ea5;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #1EB980;
  background: #343a40;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #1EB980;
  border: 1px solid #1EB980;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #1EB980;
  border: 1px solid #1EB980;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: #0092bf;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: #0092bf;
  border-color: #0092bf;
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #0092bf;
  border-color: #0092bf;
  color: #fff;
}
