@charset "UTF-8";

@import "mixin.scss";

html {
  font-size: 10px!important;
}

body{
  width: 100%;
  font-family:"fira-mono",Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  position: relative;
  font-size: 1.6rem;
}

@import "rereboot";
@import "index";
@import "header";
@import "footer";
@import "404";
@import "page";
@import "single";
@import "front-page";
@import "sidebar";
@import "tag";
@import "category";
@import "date";
@import "archive";
