@charset "UTF-8";
html {
  font-size: 10px !important;
}

body {
  width: 100%;
  font-family: "fira-mono",Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  position: relative;
  font-size: 1.6rem;
}

/*
*  bootstrap のreboot.cssの記述が必要ない場合ここで打ち消してください
*/
p {
  margin: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col, .col-auto,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
  max-width: 1200px;
}

header {
  background-color: #204051;
  color: #fff;
}

.main-visual {
  background-color: #84a9ac;
}

p.logo {
  text-align: center;
}

video.prefix_sample1 {
  width: 851px;
  height: 478px;
  -webkit-mask-image: url("../images/logo.png");
  -webkit-mask-mode: auto;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

footer {
  background-color: #204051;
  color: #FFF;
}
